<div class="container" id="signup-step-indicator">
  <div class="row">
    <div class="col-12 col-step">
      <i class="step-indicator bi bi-1-circle{% if step == '1' %}-fill{% endif %}"></i>
      <span class="step-description">Verify Phone Number or Email Address</span>
    </div>
    <div class="col-12 col-step">
      <i class="step-indicator bi bi-2-circle{% if step == '2' %}-fill{% endif %}"></i>
      <span class="step-description">Create Username</span>
    </div>
    <div class="col-12 col-step">
      <i class="step-indicator bi bi-3-circle{% if step == '3' %}-fill{% endif %}"></i>
      <span class="step-description">Create Password</span>
    </div>
    <div class="col-12 col-step">
      <i class="step-indicator bi bi-4-circle{% if step == '4' %}-fill{% endif %}"></i>
      <span class="step-description">Done</span>
    </div>
  </div>
</div>
