<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="static/navigation.css">
    <title>JAMMA</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

        body {
            background-color: #252a37;
        }

        p, label, button, span, input, .testimonials {
            font-family: Inter;
        }

        .brands {
            width:90%;
        }

        hr {
            background-color:none;
            border-color:darkgray;
            border-style:none;
            border-bottom-style: dotted;
            border-width:10px;
        }

        .testimonials {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 50, 0.25);
        }

        #disqus_thread {
            margin:auto;
        }


    </style>
</head>

<body>
    {% include 'navigation.html' %}
    {% block body %}
    {% endblock %}

    <!-- <center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="vertical-align: middle;color:white;">Login system works!</h1>
    </center> -->
    
    <!-- START OF THE MAIN WEBPAGE -->
    <div id="content" style="padding-top:115px;">
        <div class="w3-cell-row">

            <div class="w3-container w3-cell w3-center w3-mobile">
                <p style="font-size:5vw;color:white;" class="w3-hide-small">Best Sports Gadgets</p>
                <p style="font-size:9.5vw;color:white;" class="w3-hide-medium w3-hide-large">Best Sports  Gadgets</p>
                <button class="w3-btn w3-border-white w3-border w3-round-xxlarge w3-medium w3-padding-large" style="margin-bottom:50px;color:white">Shop Now</button>
            </div>
      
      
            <div class="w3-container w3-cell w3-mobile ">
            <img src="{{url_for('static', filename='Best Sports Accessories.jpg')}}" alt="" width="100%" class="w3-round-xlarge">
            </div>

            
        </div>

        <br> <br>

        <div class="w3-row">
            <div class="w3-half w3-container">
                <div class="w3-display-container">
                    <img src="{{url_for('static', filename='Smartwatch Banner 2.jpg')}}" alt="" style="background-size:contain" width="100%" class="w3-round-xlarge">
                    <p><span class="w3-tag w3-yellow w3-display-bottomleft w3-xlarge w3-round-xlarge">Best Smartwatch Collection</span></p>
                </div>
            </div>
            <div class="w3-half w3-container">
                <div class="w3-display-container">
                    <img src="{{url_for('static', filename='Headphone Banner.jpg')}}" alt="" style="background-size:contain" width="100%" class="w3-round-xlarge">
                    <p><span class="w3-tag w3-yellow w3-display-bottomleft w3-xlarge w3-round-xlarge">Headphones from Lamborghini</span></p>
                </div>
            </div>
        </div>

        <br> <br>

        <!-- Brand Container -->
        <div class=" w3-center w3-padding-64">
            <!-- HR -->
            <div class="w3-row">
                <div class="w3-third w3-container">
                  <hr>
                </div>
                <div class="w3-third w3-container">
                    <p><span class="w3-tag w3-teal w3-large w3-round-xlarge">TRUSTED BY THESE BRANDS</span></p>
                </div>
                <div class="w3-third w3-container w3-hide-small">
                  <hr>
                </div>
              </div>

            <!-- Brand for large screens -->
            <div class="w3-cell-row w3-hide-small w3-hide-medium">

                <div class="w3-container w3-cell w3-mobile w3-padding-large">
                    <img src="/static/brand_logos/Aftershockz.png" alt="" class="brands" loading="lazy">
                </div>

                <div class="w3-container w3-cell w3-mobile w3-padding-large">
                    <img src="/static/brand_logos/Beats.png" alt="" class="brands" loading="lazy">
                </div>

                <div class="w3-container w3-cell w3-mobile w3-padding-large">
                    <img src="/static/brand_logos/1more.png" alt="" class="brands" loading="lazy">
                </div>

                <div class="w3-container w3-cell w3-mobile w3-padding-large">
                    <img src="/static/brand_logos/Apple.png" alt="" class="brands" loading="lazy">
                </div>

                <div class="w3-container w3-cell w3-mobile w3-padding-large">
                    <img src="/static/brand_logos/Jabra.png" alt="" class="brands" loading="lazy">
                    </div>
            </div>

            <!-- Brand for medium to small screens -->
            <div class="w3-cell-row w3-hide-large"> 
                <div class="w3-container w3-cell w3-mobile w3-padding-large">
                    <img src="/static/brand_logos/Aftershockz.png" alt="" class="brands" style="width:50%" loading="lazy">
                </div>

                <div class="w3-container w3-cell w3-mobile w3-padding-large">
                    <img src="/static/brand_logos/1more.png" alt="" class="brands" style="width:50%" loading="lazy">
                </div>

            </div>
            <div class="w3-cell-row w3-hide-large">
                <div class="w3-container w3-cell w3-mobile w3-padding-large">
                    <img src="/static/brand_logos/Beats.png" alt="" class="brands" style="width:20%" loading="lazy">
                </div>

                <div class="w3-container w3-cell w3-mobile w3-padding-large">
                    <img src="/static/brand_logos/Apple.png" alt="" class="brands" style="width:20%" loading="lazy">
                </div>
            </div>

            <div class="w3-container w3-cell w3-mobile w3-padding-large w3-hide-large">
                <img src="/static/brand_logos/Jabra.png" alt="" class="brands" style="width:30%" loading="lazy">
            </div>
        </div>

        <br>

        <!-- Best Sellers -->
        <div class="w3-padding-64">

            <!-- HR -->
            <div class="w3-row w3-center">
                <div class="w3-third w3-container">
                <hr>
                </div>
                <div class="w3-third w3-container">
                    <p><span class="w3-tag w3-teal w3-large w3-round-xlarge">OUR BEST SELLERS</span></p>
                </div>
                <div class="w3-third w3-container w3-hide-small">
                <hr>
                </div>
            </div>


            <div class="w3-row w3-hide-medium w3-hide-small">
            {% for product in sorted_productsSales %}
                    <div class="w3-col w3-center" style="width:20%">
                        <div class="w3-hover-shadow w3-margin w3-centered w3-round w3-card-2" style="height:290px">
                            <img src="{{products[product]['productImage']}}" alt="" class="w3-padding" style="height:65%;max-width:100%;object-fit: contain;">
                            <div class="w3-display-container w3-pale-yellow w3-round">
                                <p class="w3-padding w3-large">{{products[product]['productName']}}</p> <br>
                                <b><span class="w3-padding w3-display-bottomleft w3-large">{{products[product]['productPrice']}}</span></b>
                                <span class="w3-padding w3-display-bottomright">{{products[product]['quantitySold']}} sold</span>
                            </div>
                        </div>
                    </div>  
            {% endfor %}
            </div>

            <!-- This "Best Sellers" view becomes visible when the UI is in a medium to small sized screen -->
            <!-- It displays two per row of items to prevent text overlapping -->

            <div class="w3-row w3-hide-large">
                {% for row in sorted_productsSales | batch (2) %}
                    {% for product in row %}
                        <div class="w3-half w3-center">
                            <div class="w3-hover-shadow w3-margin w3-centered w3-round w3-card-2" style="height:290px">
                                <img src="{{products[product]['productImage']}}" alt="" class="w3-padding" style="height:65%;max-width:100%;object-fit: contain;">
                                <div class="w3-display-container w3-pale-yellow w3-round">
                                    <p class="w3-padding w3-large">{{products[product]['productName']}}</p> <br>
                                    <b><span class="w3-padding w3-display-bottomleft w3-large">{{products[product]['productPrice']}}</span></b>
                                    <span class="w3-padding w3-display-bottomright">{{products[product]['quantitySold']}} sold</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

        </div>
        
        <br>

        <!-- New Products -->
        <div class="w3-padding-64">

            <!-- HR -->
            <div class="w3-row w3-center">
                <div class="w3-third w3-container">
                <hr>
                </div>
                <div class="w3-third w3-container">
                    <p><span class="w3-tag w3-teal w3-large w3-round-xlarge">NEW PRODUCTS</span></p>
                </div>
                <div class="w3-third w3-container w3-hide-small">
                <hr>
                </div>
            </div>


            <div class="w3-padding-32 w3-hide-medium w3-hide-small">
                <div class="w3-row w3-center">
                    {% for product in new_products %}
                        <div class="w3-col" style="width:20%">
                            <div class="w3-hover-shadow w3-margin w3-centered w3-round w3-card-2" style="height:290px">
                                <img src="{{new_products[product]['productImage']}}" alt="" class="w3-padding" style="height:65%;max-width:100%;object-fit: contain;">
                                <div class="w3-display-container w3-pale-yellow w3-round">
                                    <p class="w3-padding w3-large">{{new_products[product]['productName']}}</p> <br>
                                    <b><span class="w3-padding w3-display-bottomleft w3-large">{{new_products[product]['productPrice']}}</span></b>
                                    <span class="w3-padding w3-display-bottomright">{{new_products[product]['quantitySold']}} sold</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


            <!-- This "New Products" view becomes visible when the UI is in a medium to small sized screen -->
            <!-- It displays two per row of items to prevent text overlapping -->
            <div class="w3-padding-32 w3-hide-large">
                {% for row in new_products | batch (2) %}
                <div class="w3-row w3-center">
                    {% for product in row %}
                    <div class="w3-half">
                        <div class="w3-hover-shadow w3-margin w3-centered w3-round w3-card-2" style="height:400px">
                            <img src="{{new_products[product]['productImage']}}" alt="" class="w3-padding" style="height:75%;max-width:100%;object-fit: contain;">
                            <div class="w3-display-container w3-pale-yellow w3-round">
                                <p class="w3-padding w3-large">{{new_products[product]['productName']}}</p> <br>
                                <b><span class="w3-padding w3-display-bottomleft w3-large">{{new_products[product]['productPrice']}}</span></b>
                                <span class="w3-padding w3-display-bottomright">{{new_products[product]['quantitySold']}} sold</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

        </div>

        <br> 

        <!-- Testimonials -->
        <div style="background-color: black;" class="testimonials w3-padding-64">
            <div class="w3-container w3-center w3-padding-32">
                <div class="w3-tag  w3-xlarge " style="padding:3px;">
                    <div class="w3-container w3-round w3-round w3-border w3-border-white w3-round-xxlarge w3-margin"> 
                      Testimonials
                    </div>
                  </div>
            </div>

            <div class="w3-row w3-container">
                <br>
                <div class="w3-third w3-container">
                    <div class="w3-card-4">
                        
                        <div class="w3-container w3-border w3-round-xxlarge w3-black">
                          <p>"I would like to say thank you so much PA-JAMMA!! It was a fast and easy transaction and received the item before 24 hours!! Btw I'm from Davao! I'm very satisfied and happy with my Garmin Forerunner 245 Music!! 10 out of 10 customer service !!!"</p>
                        </div>
                        
                        <footer class="w3-container w3-right">
                            <p><span class="w3-tag w3-yellow w3-large w3-round-xlarge w3-hover-shadow">Van Ion Olsula</span></p>
                        </footer>
                        
                    </div>
                </div>
                  
                <div class="w3-third w3-container">
                    <br>

                    <div class="w3-card-4">
                        
                        <div class="w3-container w3-border w3-round-xxlarge w3-black">
                          <p>"Genuine product + 101% excellent customer service + trustworthy = satisfied customer"</p>
                        </div>
                        
                        <footer class="w3-container w3-right">
                            <p><span class="w3-tag w3-yellow w3-large w3-round-xlarge w3-hover-shadow">Angel Escale</span></p>
                        </footer>
                        
                    </div>
                </div>

                <div class="w3-third w3-container">
                    <br>

                    <div class="w3-card-4">
                        
                        <div class="w3-container w3-border w3-round-xxlarge w3-black">
                          <p>"Super fast transaction and took great care of shipping the item. A true asset in the online shopping world. Will definitely buy from them again soon. More power!"</p>
                        </div>
                        
                        <footer class="w3-container w3-right">
                            <p><span class="w3-tag w3-yellow w3-large w3-round-xlarge w3-hover-shadow">Liz Resurrecion</span></p>
                        </footer>
                        
                    </div>
                </div>
            </div>

            <br> <br> <br> <br> <br> 

            <div class="w3-container w3-row w3-center w3-padding-32 w3-opacity-min">
                <abbr title="Click to switch to Disqus!">
                    <div class="w3-tag  w3-half w3-xlarge " style="padding:3px;">
                        <div class="w3-container w3-round w3-round w3-border w3-border-white w3-round-xxlarge w3-margin w3-hover-pale-green" onclick="unhideDisqus()"> 
                            Disqus!
                        </div>
                      </div>
                    </abbr>
                <abbr title="Click to switch to JAMMA Comments">
                <div class="w3-tag  w3-half w3-xlarge " style="padding:3px;">
                    <div class="w3-container w3-round w3-round w3-border w3-border-white w3-round-xxlarge w3-margin w3-hover-pale-green" onclick="unhideDisqus()"> 
                        JAMMA Comments
                    </div>
                  </div>
                </abbr>
            </div>
            
            <div class="w3-container w3-center">
                <iframe src="{{jammaLink}}" frameBorder="0" width="100%" height="2000px" title="JAMMA Comments" id="jammaComments" style="border:0;"></iframe>

                <div id="disqus_thread" style="display:none;" class="w3-center w3-padding-top-24"></div>

                <script>
                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://jamma.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
            
            


        </div>
    </div>

</body>
<script>
    function unhideDisqus() {
    var x = document.getElementById("jammaComments");
    var y = document.getElementById("disqus_thread")
    if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";
    } 
    else {
        x.style.display = "none";
        y.style.display = "block";
    }
}
</script>
</html>
