{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

        body {
            background-color: #252a37;
        }

    </style>
    <title>Register to JAMMA</title>
{% endblock %}

{% block body %}
    <div class="w3-container w3-margin w3-hide-small w3-hide-medium w3-padding-16" style="vertical-align: middle;">
        <div class="w3-container w3-round-xlarge w3-flat-midnight-blue" style="width:70%;margin:auto;">

            <div class="w3-center"><br>
            <img src="{{url_for('static', filename='slogan with motto.png')}}" alt="Jamma Icon w/ Slogan" style="width:35%" class="w3-margin">
            </div>

            <form class="w3-container" action="/register" enctype="multipart/form-data" method="post">

                {% if error %}
                    <div class="w3-panel w3-red w3-round-large w3-center">
                        <h4>{{ error }}</h4>
                    </div>
                {% endif %} 

            <div class="w3-section">
                <div class="w3-row-padding">
                    <div class="w3-half">
                      <label>First Name</label>
                      <input class="w3-input w3-border w3-margin-bottom w3-flat-midnight-blue" type="text" name="fname" required>
                    </div>
                    <div class="w3-half">
                      <label>Last Name</label>
                      <input class="w3-input w3-border w3-margin-bottom w3-flat-midnight-blue" type="text" name="lname" required>
                    </div>
                </div>
                <div class="w3-row-padding">
                    <div class="w3-half">
                      <label>Username</label>
                      <input class="w3-input w3-border w3-margin-bottom w3-flat-midnight-blue" type="username" name="username" required>
                    </div>
                    <div class="w3-half">
                        <label>Email</label>
                        <input class="w3-input w3-border w3-margin-bottom w3-flat-midnight-blue" type="email" name="usermail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter a valid email address" required>
                    </div>
                </div>
                <div class="w3-row-padding">
                    <div class="w3-half">
                        <label>Password</label>
                        <input class="w3-input w3-border w3-margin-bottom w3-flat-midnight-blue" type="password" name="userpass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and it should be 8 - 20 characters" required>
                    </div>
                    <div class="w3-half">
                        <label>Repeat Password</label>
                        <input class="w3-input w3-border w3-margin-bottom w3-flat-midnight-blue" type="password" name="userpass2" required>
                    </div>
                </div>
                <div class="w3-row-padding">
                    <div class="w3-half">
                        <label>Mobile Number</label>    <i><small>ex: +639983082814</small></i>
                        <input class="w3-input w3-border w3-margin-bottom w3-flat-midnight-blue" type="tel" name="usertel" pattern="[+]{1}[0-99]{1}[0-9]{11}">
                    </div>
                    <div class="w3-third">
                        <label>Profile Picture</label> <br>
                        <input type="file" accept="image/*" name="userpicture">
                    </div>
                    <div class="w3-right w3-margin w3-padding-small">
                        <input type="reset" class="w3-input w3-margin-bottom w3-button w3-yellow w3-round-xxlarge w3-margin-left">
                    </div>
                </div>

                <button class="w3-button w3-block w3-yellow w3-section w3-padding w3-round-xxlarge" type="submit">Register</button>

                <span class=" w3-right w3-padding" style="position:relative"><a href="/login">Already have an account? Login!</a></span>
            </div>
            </form>            
            </div>

        </div>
    </div>

    <div class="w3-hide-large" style="vertical-align: middle;">
        <div class="w3-flat-midnight-blue">

            <div class="w3-center"><br>
            <img src="{{url_for('static', filename='slogan with motto.png')}}" alt="Jamma Icon w/ Slogan" style="width:35%" class="w3-margin">
            </div>

            <form class="w3-container" action="/register" method="post">

                {% if error %}
                    <div class="w3-panel w3-red w3-round-large w3-center">
                        <h4>{{ error }}</h4>
                    </div>
                {% endif %} 

            <div class="w3-section">
                <div class="w3-row-padding">
                    <div class="w3-half">
                      <label>First Name</label>
                      <input class="w3-input w3-border w3-margin-bottom w3-flat-midnight-blue" type="text" name="fname" required>
                    </div>
                    <div class="w3-half">
                      <label>Last Name</label>
                      <input class="w3-input w3-border w3-margin-bottom w3-flat-midnight-blue" type="text" name="lname" required>
                    </div>
                </div>
                <div class="w3-row-padding">
                    <div class="w3-half">
                      <label>Username</label>
                      <input class="w3-input w3-border w3-margin-bottom w3-flat-midnight-blue" type="username" name="username" required>
                    </div>
                    <div class="w3-half">
                        <label>Email</label>
                        <input class="w3-input w3-border w3-margin-bottom w3-flat-midnight-blue" type="email" name="usermail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter a valid email address" required>
                    </div>
                </div>
                <div class="w3-row-padding">
                    <div class="w3-half">
                        <label>Password</label>
                        <input class="w3-input w3-border w3-margin-bottom w3-flat-midnight-blue" type="password" name="userpass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and it should be 8 - 20 characters" required>
                    </div>
                    <div class="w3-half">
                        <label>Repeat Password</label>
                        <input class="w3-input w3-border w3-margin-bottom w3-flat-midnight-blue" type="password" name="userpass2" autocomplete="new-password" required>
                    </div>
                </div>
                <div class="w3-row-padding">
                    <div class="w3-half">
                        <label>Mobile Number</label>    <i><small>ex: +639983082814</small></i>
                        <input class="w3-input w3-border w3-margin-bottom w3-flat-midnight-blue" type="tel" name="usertel" pattern="[+]{1}[0-99]{1}[0-9]{11}">
                    </div>
                    <div class="w3-third">
                        <label>Profile Picture</label> <br>
                        <input type="file" accept="image/*" name="userpicture">
                    </div>
                    <div class="w3-right w3-margin w3-padding-small">
                        <input type="reset" class="w3-input w3-margin-bottom w3-button w3-yellow w3-round-xxlarge w3-margin-left">
                    </div>
                </div>

                <button class="w3-button w3-block w3-yellow w3-section w3-padding w3-round-xxlarge" type="submit">Register</button>

                <span class=" w3-right w3-padding" style="position:relative"><a href="/login">Already have an account? Login!</a></span>
            </div>
            </form>            
            </div>

        </div>
    </div>
{% endblock %}